<!DOCTYPE html>
<html>
<head>
  <title>Forgot Password</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>JALA Academy</h1>
    <h2>Forgot Password</h2>
    <article>
        <p>Please enter your email address below to reset your password:</p>
        
        <div class="container">
            <form id="forgotPasswordForm">
                <div class="input-block">
                    <label for="email">
                      <span>Email:</span>
                    </label>
                    <input type="email" id="email" required>
                    <i class="fa fa-envelope"></i>
                </div>
                <div class="input-block">
                    <label for="update_password">
                      <span>update_password:</span>
                    </label>
                    <input type="update_password" id="update_password" required>
                    <i class="fa fa-envelope"></i>
                </div>
      
                <form class="admin-login-form" action="/update_password" method="POST">
                    <input type="submit" value="Reset Password">
                </div>
            </form>
        </div>
      
        <div class="divider">
            <hr>
            <div class="or">OR</div>
            <hr>
        </div>
    </article>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
